body h1 {
    text-align: center;
}

.max-width-60 {
    max-width: 50vw !important;
}

.header-location {
	display: block;
	margin: 0 auto;
	position: relative;
	width: 100%;
	height: 50vh;
	overflow: hidden;
}
.listContainer {
    display: none;
	white-space: nowrap;
	text-align: center;
	margin: 0 auto;
	position: absolute;
	width: auto;
	left: 50%;
	transform: translateX(-50%);
    font-family: 'Abril Fatface', cursive;
}
.titleElement {
	display: inline-block;
	list-style: none;
	transform: rotateZ(-45deg);
	margin: 100px -60px;
	width: 400px;
	font-family: 'Abril Fatface', cursive;
	font-size: 75px;
	line-height: 1;
	letter-spacing: -2px;
}
.titleRed {
	color: #ff0036;
}
.titleBlack {
	color: black;
}
.titleBlue {
	color: #006eff;
}

.by-line {
    text-align: center;
}

.article_title{
    text-align: center;
}

.main-title {
    font-size: 50px;
}

.top_section {
    margin: 20px 0px;
    height: 45vh;
    background-image: url("top.PNG");
    background-repeat: repeat-y;
}

.header_art p {
    margin-top: 40vh;
    font-size: 30px;
    text-align: center;
    display: inline-block;
    -ms-transform:rotate(-45deg); /* IE9 */
    -moz-transform: rotate(-45deg);  /* FF3.5/3.6 */
    -o-transform: rotate(-45deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-45deg);  /* Saf3.1+ */
    transform: rotate(-45deg);  /* Newer browsers */
}

.description_text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
}

.box {
    position: absolute;
    display: block;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
    width: 40px;
    height: 40px;
    background: gray;
    position: relative;
    -webkit-transition: all 300ms ease-in;
    -ms-transform: rotate(45deg) skew(45deg); /* IE9 */
    -moz-transform: rotate(45deg) skew(45deg);  /* FF3.5/3.6 */
    -o-transform: rotate(45deg) skew(45deg);  /* Opera 10.5 */
    -webkit-transform: rotate(45deg) skew(45deg);  /* Saf3.1+ */
    transform: rotate(45deg) skew(45deg); /* Standard syntax */
    box-shadow: 5px 5px;
}

.separator-1{
    background: #ff0036; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, #ff0036, #006eff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #ff0036, #006eff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #ff0036, #006eff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #ff0036, #006eff); /* Standard syntax */
}

.separator-2{
    background: #006eff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, #006eff, #ff0036); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #006eff, #ff0036); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #006eff, #ff0036); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #006eff, #ff0036); /* Standard syntax */
}

.story img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}

.story_img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}

.story h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
}

.story p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

.story_text {
    padding: 10px 15% !important;
}